<div>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
  <app-tie-fighter></app-tie-fighter>
</div>
